
.letra_naranja{
margin-top: 6px;
margin-bottom: 4px;
padding-bottom: 3px;
color: coral;
border-top: 1px solid #8d8d8d;
border-bottom: 1px solid #8d8d8d;
border-radius: 4px;
text-align: left;
text-shadow: 2px 1px 2px #b0b0b0;
}

.naranja{
    background-color:rgb(255, 181, 101);
    padding: 4px;
}


#titulo{
    text-shadow: 2px 1px 2px #bababa;
}

.color_icono{
    color: #0d86fd;
}

.animado1{
  animation-name: animacion_uno;
  animation-duration: 2s;
  animation-timing-function: ease;
}

.animado2{
    animation-name: animacion_uno;
    animation-duration: 3s;
    animation-timing-function: ease;
  }

.animado3{
    animation-name: animacion_uno;
    animation-duration: 4s;
    animation-timing-function: ease;
  }

.animado4{
    animation-name: animacion_uno;
    animation-duration: 5s;
    animation-timing-function: ease;
  }


  .animadoRelease{
    animation-name: animacion_uno;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0.05s;
  }

  @keyframes animacion_uno{
    25% {padding-left:1%;}
    100%{padding-left:0%;}
  }

.movimiento{
    animation-name: animacion_dos;
    animation-duration: 2.5s;
    animation-timing-function: ease;
  }

  @keyframes animacion_dos{
    60%{text-indent:1%}
    100% {text-indent: 0%;}
  }

